# Quiz: Variables and Assignment Operators

In [ ]:
# Question 1.

Note that this code uses scientific notation to define large numbers. 4.445e8 is equal to 4.445 * 10 ** 8 which is equal to 444500000.0.

In [ ]:
# The current volume of a water reservoir (in cubic metres)
reservoir_volume = 4.445e8
# The amount of rainfall from a storm (in cubic metres)
rainfall = 5e6

# decrease the rainfall variable by 10% to account for runoff

# add the rainfall variable to the reservoir_volume variable

# increase reservoir_volume by 5% to account for stormwater that flows
# into the reservoir in the days following the storm

# decrease reservoir_volume by 5% to account for evaporation

# subtract 2.5e5 cubic metres from reservoir_volume to account for water
# that's piped to arid regions.

# print the new value of the reservoir_volume variable

In [ ]:
reservoir_volume = 4.445e8

rainfall = 5e6

rainfall = rainfall * 90/100

reservoir_volume += rainfall

reservoir_volume = reservoir_volume * 105/100

reservoir_volume = reservoir_volume * 95/100

reservoir_volume -= 2.5e5

print(reservoir_volume)

In [ ]:
# Question 2.

In [ ]:
Each line of code executes in order, one at a time, with control going from one line to the next.

>>> carrots = 24
>>> rabbits = 8
>>> crs_per_rab = carrots/rabbits

Now we add a new 4th line to this code, that assigns a new value to the rabbits variable:

>>> rabbits = 12

If we now add this new 5th line of code to the above, what will the output be?

>>> print(crs_per_rab)
1. 0.5
2. 2.0
3. 3.0
4. None of the above

In [ ]:
3.0

In [ ]:
# Question 3.

Here is a list of U.S. states in order of the date they entered the Union. Say you wanted to create a variable for Delaware and assign it a value to signify that it joined the Union first. Which of the following are valid variable names and assignments in Python?
1. del = 1 
2. delaware = 1
3. 1 de = first
4. de = 1

In [ ]:
2. delaware = 1
4. de = 1

# Quiz: Integers and Floats

In [ ]:
# Question 1.

In the fishy situation below, some of the quantities are of type int and some are of type float. Check all the ones that should be of type float.
1. How many people came on your fishing trip.
2. Length of a fish you caught, in meters
3. Number of fish caught on a fishing trip
4. Length of time it took to catch the first fish, in hours.

In [ ]:
2. Length of a fish you caught, in meters
4. Length of time it took to catch the first fish in hours.

In [ ]:
# Question 2.

In [ ]:
What happens if you divide by zero in Python? Try it out! Test run this code and see what happens.

In [ ]:
print(5/0)